body{
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}


iframe{
    border: 1px whitesmoke solid;
    width:380px;
    height: 710px;
    border-radius: 15px;
    z-index: 11;
    margin-top: 30px;
}
img{
    height: 1000px;
    position: fixed;
    -webkit-animation:spin 100s linear infinite;
    -moz-animation:spin 100s linear infinite;
    animation:spin 100s linear infinite;
}

#hehe{
    border: 1px whitesmoke solid;
    width: 860px  
    aspect-ratio: 16 / 9;
    
    border-radius: 15px;
    z-index: 11;
    margin-top: 30px;
}


@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
